body{
    background-color: orange;
    color: black;
    display:inline;
}

#container {
    background-color: brown;
    
    place-items: center;
    padding:20px;
    
}

h1{
    color: rgb(3, 3, 3);
    margin:30px;
}

h2 a{
    color: orange;
}

#post{
    
    background-color: rgb(244, 174, 234);
    
}

a{color: black;}




article{
    width: 500px;
    margin-bottom: 30px;
    border: 3px solid rgb(244, 241, 242);
    background-color: rgb(244, 174, 234);
}

header, footer {
    min-height: 50px;
}
